<p class="title">{{mc.categories[mc.itemsToShow[0].categoryId].name}}</p>
<div id="products">
    <div id="items">
        <div ng-repeat="item in mc.itemsToShow">
            <a ui-sref="product" ng-click="mc.getProduct($index)">
                <p>{{item.name}}</p>
                <image ng-src="{{item.icon}}"></image>
            </a>
        </div>
    </div>
    <div id="indexes">
        <a class="productsIndex" ng-repeat="index in mc.indexes" ng-click="mc.getItemsToShow($index)">{{index.index}}</a>
    </div>
</div>